body{
    display: flex;
    
}

.calculator_body{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
}

.calculator_display{
    display: flex;
    align-items: center;
    justify-content: end;
    font-size:larger;
    flex-grow: 1;
    background-color: white;
    border: 2px solid gray;
    padding: 3px;
    margin: 8px;
    border-radius: 5px;
}

.button_row{
    display: flex;
    justify-content: space-evenly;
}

.button_column{
    display: flex;
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 5px solid gray;
}

button{
    aspect-ratio: 1/1;
}